<!DOCTYPE html>
<html>
<head>
    <title>View Answers</title>
</head>
<body>
    <h1>All Submitted Answers</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>User Phone</th>
                <th>Answer</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for answer in answers %}
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.user.phone }}</td>
                <td>{{ answer.response }}</td>
                <td>{{ answer.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>